[user]
	name = rn0rno
	email = 25890337+rn0rno@users.noreply.github.com

[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[core]
	autocrlf = input
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
	excludesfile = /Users/ryoya.momose/.gitignore_global

[alias]
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit --date=relative
  ch = !~/.bin/git_checkout.sh

[push]
	default = simple

[init]
	templatedir = ~/.dotfiles/.git_template

[include]
	path = ~/.gitconfig.specific
